In [2]:
import csv

with open('from.csv', newline='') as csvfile:
    data = list(csv.reader(csvfile, delimiter=';'))
from_data = [item[0] for item in data]
from_data = [from_data[i: i+10] for i in range(0, len(from_data), 10)]
with open('to.csv', newline='') as csvfile:
    data = list(csv.reader(csvfile, delimiter=';'))
to_data = [item[0] for item in data]
to_data = [to_data[i: i+10] for i in range(0, len(to_data), 10)]

In [5]:
import pandas as pd
import requests
from itertools import product
from tqdm import tqdm

TOKEN = 'your API token'
def get_price(date, fr, to):
    date = date.split()[0]
    resp = requests.get(f'https://api.travelpayouts.com/aviasales/v3/prices_for_dates?currency=rub&origin={fr}&destination={to}&departure_at={date}&token={TOKEN}')
    
    if resp.status_code != 200:
        print('ПАМАГИТЕ')
    
    if not resp.json()['data']:
        return 0
    return resp.json()['data'][0]['price']

data = pd.date_range('2023-05-01', '2023-10-31').to_series()

n = 12
fr_list = from_data[n]
to_list = to_data[n]

print(fr_list)
print(to_list)
for i in tqdm(range(len(fr_list))):
    res = data.apply(lambda date: get_price(str(date), fr_list[i], to_list[i]))
    res.to_csv(f'rezult/{fr_list[i]}-{to_list[i]}.csv', sep=';')

['TJM', 'AER', 'TJM', 'NUX', 'UFA', 'AER', 'HMA', 'AER', 'HMA', 'TJM']
['AER', 'TJM', 'NUX', 'TJM', 'AER', 'UFA', 'AER', 'HMA', 'TJM', 'HMA']

100%|██████████████████████████████████████████████████████████████████████████████████| 10/10 [13:35<00:00, 81.59s/it]

In [19]:
import csv

n = 2
fr_list = from_data[n]
to_list = to_data[n]
print(fr_list[0])
print(to_list[0])
for j in range(len(fr_list)):
    with open(f'tables/{fr_list[j]}-{to_list[j]}.csv', newline='') as csvfile:
        data = list(csv.reader(csvfile, delimiter=';'))
    data = data[1:]
    data_hash = {}
    for i in range(len(data)):
        month = data[i][0].split('-')[1]
        if month not in data_hash:
            data_hash[month] = (int(data[i][1]),1)
        else:
            data_hash[month] = (data_hash[month][0] + int(data[i][1]), data_hash[month][1] + 1)
    average = [data_hash[i][0] // data_hash[i][1] for i in data_hash]   
    df = pd.DataFrame(zip(data_hash.keys(), average), columns=['Month i', 'Average'])
    df.to_csv(f'average_{fr_list[j]}-{to_list[j]}.csv', sep=';')

MOW
KYZ

AttributeError: 'str' object has no attribute 'to_csv'